* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins','Pretendard', -apple-system, BlinkMacSystemFont, "Segoe UI", sans-serif;
}

html, body {
    width: 100%;
    height: 100%;
}

body {
    min-height: 100vh;
    position: relative;
    overflow-x: hidden;

    /* 배경: 좌측 오렌지 -> 우측 화이트 그라데이션 */
    background: linear-gradient(-45deg, #FFCB94 0%, #f3bda6 55%, #F9DED0 78%, #FFFFFF 100%);

    display: flex;
    justify-content: center;
    align-items: center;
}


/* ==========================================
     좌측 상단 로고
========================================== */
.brand-logo {
    position: absolute;
    top: 32px;
    left: 32px;
    width: 130px;
    z-index: 20;
}

.brand-logo img {
    width: 100%;
    display: block;
}


/* ==========================================
   forgot girl
========================================== */

.forgot-girl {
    position: absolute;
    left: -1%;
    bottom: -1%;
    z-index: 0;
    width: 530px;
    max-width: 90vw;
    height: 700px;
}

/* ==========================================
   비번 찾기 박스
========================================== */
.forgot-box {
    background-color: #FFFFFF;
    width: 957px;
    max-width: 90vw;
    border-radius: 32px;
    padding: 48px 46px 40px;
    box-shadow: 0 20px 60px rgba(0, 0, 0, 0.10);
    position: relative;
    z-index: 1;
    left: 10%;
}

.Main-text {
    display: flex;
    align-items: baseline;
    margin-bottom: 34px;
}

.Main-text h1 {
    font-size: 55px;
    font-weight: 500;
    color: #111;
    margin-right: 12px;
}

/* ==========================================
   비번 입력칸
========================================== */

.enter-id {
    margin-bottom: 35px;
}

/*enter-id 입력하는 칸 공통 설정*/
.enter-id input {
    width: 100%;
    padding: 14px 18px;
    border: 1px solid #DDD;
    border-radius: 10px;
    font-size: 14px;
    color: #333;
    outline: none;
    transition: border 0.2s;
}

/*label의 글자 스타일 공통 설정*/
.enter-id label {
    display: block;
    font-size: 13px;
    font-weight: 400;
    color: #333;
    margin-bottom: 5px;
}

.enter-id input::placeholder {
    color: #BBB;
}

/*사용자 이름 & 이메일 입력칸*/

.ne-input input:focus {
    border-color: #4A90E2;
}

.ne-input input::placeholder {
    color: #BBB;
}


/*enter-id 입력하는 칸 공통 설정*/
.ne-input input {
    width: 100%;
    padding: 14px 18px;
    border: 1px solid #DDD;
    border-radius: 10px;
    font-size: 14px;
    color: #333;
    outline: none;
    transition: border 0.2s;
}

/*label의 글자 스타일 공통 설정*/
.ne-input label {
    display: block;
    font-size: 13px;
    font-weight: 400;
    color: #333;
    margin-bottom: 5px;
}


.ne-input {
    display: flex;
    justify-content: center;
    gap: 24px;
    margin-bottom: 0px;
}

.ne-input.name-email {
    display: flex;
    gap: 15px;
    margin-top: 20px;
}

.name-email {
    display: flex;
    flex: 1;
    flex-direction: column;
}

.name-email:first-child input {
    width: 360px;   /* 사용자 이름 칸 */
}

.name-email:last-child input {
    width: 460px;
}

.name-email label {
    display: block;
    font-size: 13px;
    font-weight: 400;
    color: #333;
    margin-bottom: 9px;
}

.name-email input {
    width: 100%;
    padding: 14px 18px;
    border: 1px solid #DDD;
    border-radius: 10px;
    font-size: 14px;
    color: #333;
    outline: none;
    transition: border 0.2s;
}
.name-email input:focus {
    border-color: #4A90E2;
}
.name-email input::placeholder {
    color: #BBB;
}


/*버튼*/
.verify-btn {
    width: 100%;
    background-color: #EF8924;
    color: #FFF;
    border: none;
    border-radius: 10px;
    padding: 16px;
    font-size: 16px;
    font-weight: 500;
    cursor: pointer;
    box-shadow: 0 10px 24px rgba(239, 137, 36, 0.30);
    transition: background-color 0.2s;
    margin-top: 53px;
}
.verify-btn:hover {
    background-color: #d67a20;
}























