<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Login</title>
    <!--font-->
    <link rel="stylesheet" href="/fonts/font.css">

    <!-- CSS -->
    <link rel="stylesheet" href="/css/account/login.css">
    <link rel="stylesheet" th:href="@{/css/basic/footer.css}">
</head>
<body>

<main class="login-wrapper">

<!-- 좌측 상단 로고 -->
<div class="brand-logo">
    <a th:href="@{/}">
        <img src="/photo/icon/4iren-icon.png" alt="Logo">
    </a>
</div>

    <!-- 왼쪽 캐릭터 -->
    <div class="phone-charc-group">
        <div class="phone-charc-float">
            <img src="/photo/login/login-phonegirl.png" alt="Floating Character" class="floating-charc">
            <img src="/photo/login/alaram.png" alt="알림 위젯" class="alaram">
        </div>
    </div>


<!-- 오른쪽 캐릭터 -->
<img src="/photo/login/login-studygirl.png" alt="Study Character" class="study-charc">

<!-- 로그인 카드 -->
<div class="login-card">
    <div class="card-header">
        <p class="welcome-text">Welcome to <img src="/photo/logo.png" alt="logo" class="inline-logo"> !</p>
        <div class="signup-box">
            <p class="no-account">No Account ?</p>
            <a href="signup" class="signup-link">Sign up</a>
            </div>
    </div>

    <div class="title-container">
        <h1>Log in</h1>
        <span class="subtitle">로그인</span>
    </div>

    <form action="/login" method="POST">
        <div class="input-group">
            <label for="username">아이디</label>
            <input type="text" id="username" name="loginId" placeholder="아이디" required>
        </div>

        <div class="input-group">
            <label for="password">비밀번호</label>
            <div class="password-wrapper">
                <input type="password" id="password" name="password" placeholder="비밀번호" required>
                <img src="/photo/icon/pw-eye.png" alt="비밀번호 보기" class="eye-icon-c" id="eye-icon">
            </div>
        </div>

        <div class="forgot-password">
            <a href="/account/forgot">Forgot Password</a>
        </div>

        <p class="login-error" th:if="${errorMessage}" th:text="${errorMessage}"></p>

        <button type="submit" class="signin-btn">Sign in</button>
    </form>
</div>
</main>  <!--login-wrapper-->

<!--Footer-->
<div th:replace="~{layout/footer :: footer}"></div>

<script src="/js/eye.js"></script>
</body>
</html>
