<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Sign Up</title>
    <!--font-->
    <link rel="stylesheet" href="/css/font.css">
    <!-- CSS -->
    <link rel="stylesheet" th:href="@{/css/footer.css}">

    <!-- CSS -->
    <link rel="stylesheet" href="/css/signup.css">
</head>

<body>
<main class="signup-wrapper">
<!-- 좌측 상단 로고 -->
<div class="brand-logo">
    <img src="/photo/logo-b.png" alt="Re I New Logo">
</div>

<!-- 왼쪽 캐릭터 -->
<img src="/photo/login/login-phonegirl.png" alt="Floating Character" class="floating-charc">
<div class="weather-widget">
    <div class="weather-row">
        <img src="/photo/login/alaram.png" alt="alaram widget" class="alaram">
    </div>
</div>

<!-- 오른쪽 캐릭터 -->
<img src="/photo/login/login-studygirl.png" alt="Study Character" class="study-charc">

<!-- 회원가입 박스 -->
<div class="signup-box">

    <div class="sign-header">
        <div class="signin-box">
            <p class="have-acc">Have an Account ?</p>
            <a href="/login" class="signin-link">Sign in</a>
        </div>
    </div>

        <!--메인 글씨 Sign up-->
        <div class="title-container">
            <h1>Sign Up</h1>
            <span class="subtitle">회원가입</span>
        </div>

        <!--회원가입 입력칸-->
        <form action="/signup" method="POST">
            <div class="enterid">
                <label for="userId">사용할 ID를 입력하세요</label>
                <input type="text" id="userId" name="loginId" placeholder="사용할 아이디">
            </div>

        <!--사용자 이름 & e-mail 입력칸-->
        <div class="ne-input">
            <div class="name-email">
            <label for="username">사용자 이름</label>
                <input type="text" id="username" name="name" placeholder="사용자 이름">
            </div>

            <div class="name-email">
            <label for="email">e-mail</label>
                <input type="text" id="email" name="email" placeholder="e-mail">
            </div>
        </div>

        <div class="pw-box">
            <label for="password">사용할 비밀번호를 입력하세요.</label>
            <div class="password-wrapper">
                <input type="password" id="password" name="password" placeholder="비밀번호">
                <img src="/photo/icon/pw-eye.png" alt="비밀번호 보기" class="eye-icon-c" id="eye-icon">
            </div>
        </div>


            <button type="submit" class="signup-btn">Sign up</button>
        </form>
</div>
</main>

<!--Footer-->
<div th:replace="~{/basic/footer :: footer}"></div>

<script src="/js/eye.js"></script>
</body>
</html>